{
    "classifier" :{
    "Linear K-Discriminant" : "KDiscriminantClassifier",
    "Logistic Regression" : "LogisticRegressionClassifier",
    "Soft-Zero-One Classifier" : "SoftZeroOneClassifier",
    "Softmax Regression" : "SoftMaxRegressionClassifier",
    "MLP" : "MLP"
  },

  "mlp_config" :{
    "neurons" : "10",
    "hidden_layers" : "2",
    "input_neurons" : "2",
    "output_neurons" : "3",
    "std_dev" : "3.0",
    "hid_transfer" : "sigmoid",
    "out_transfer" : "softmax",
    "batch_size" : "100",
    "optimizer" : "gradientDescent",
    "momentum" : "True",
    "learning_rate" : "0.1",
    "train_steps" : "15000"
  }
}